/node_modules
package-lock.json
/public/assets/2024
/public/assets/2024_backup
/public/assets/images
/public/hot
/public/storage
/public/images
/public/images2
/public/sitemap_index.xml
/storage/*.key
/public
/vendor
/stubs
/tests
.env
.env.strato
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.idea
/.vscode
*.sql.gz

/bootstrap/cache/*.php

/storage/app/public/*
.htaccess
.well-known/*
4690525.sql
DB.sql
logs/*
php.ini
public_html_original/*
