.page-header{
    .breadcrumb-container{
        position: relative;
        display: block;
        border-bottom: 1px solid #ebe6de;
        padding: 24px 0 11px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Edge */
        }
        &.guiding{
            padding: 16px 0 11px;
            margin-bottom: 16px;
        }
        &.destination{
            padding: 0 0 11px;
            margin-bottom: 16px;
        }
        .page-header__bottom-inner,
        .thm-breadcrumb{
            white-space: nowrap;
        }
        .thm-breadcrumb li{
            word-break: normal;
        }
    }
}
@media (max-width: 768px){
    .page-header{
        .breadcrumb-container{
            padding: 0 0 11px;
            &.guiding{
                padding: 0 0 11px;
                margin-bottom: 16px;
                margin-top: 0px;
            }
        }
    }
    
}