@import "../settings/variables";
.thm-btn {
  &-disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}
.btn-orange{
  background-color: $primary-color;
  color: #fff;
  &:hover{
    color:$primary-color;
    background-color: transparent;
    border: 1px solid $primary-color;
  }
  &:hover.reserve-now-btn{
    background-color: white;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}