@import "../settings/variables";
#filterCard{
  form#filterContainer, #filterContainerOffCanvas{
    height: auto;
    .btn-link{
      color: $primary-color;
      &:focus{
        box-shadow: none;
      }
    }
    .form-check-input[type=checkbox]{
      &:focus{
        box-shadow: none;
        border-color: $primary-color;
      }
      &:focus{
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
}
#filterContainerOffCanvas{
    height: auto;
    .btn-link{
      color: $primary-color;
      &:focus{
        box-shadow: none;
      }
    }
    .form-check{
      font-size: 1.2rem;
    }
    .form-check-input[type=checkbox]{
      &:focus{
        box-shadow: none;
        border-color: $primary-color;
      }
      &:focus{
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
  #offcanvasBottomSearch{
    .offcanvas-footer.border-top{
      .btn-primary{
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
  }
.small-text {
  font-size: 12px;
}

.about-one__img img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.tour-details__top .tours-list__content__trait__text {
  display: block;
  overflow: visible;
  -webkit-line-clamp: none;
}

.tour-details-two__title {
  margin-bottom: 25px;
}

.tour-details {
  .tours-list__content__trait {
    font-size: 1rem;
    line-height: 1.5rem
  }
}

.tour-details-two__location-map {
  position: relative;
  display: block;
  height: 380px;
  width: 100%;
  border-radius: var(--thm-border-radius);
}

.tour-details-two__related-tours {
  position: relative;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tour-details-two__related-tours .tour-details-two__title {
  margin-bottom: 29px;
}

.cag-btn-inverted {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
}
.guiding-list-item .carousel.slide{
  .carousel-item{
    position: relative;
    width: 100%;
    padding-bottom: 66.67% !important; /* 4 / 6 = 0.6667 or 66.67% */
    overflow: hidden;
    height: auto;
  }
  .carousel-image, img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
#destination {
  .owl-nav {
    margin-top: 0;

    button {
      background-color: #e8e8e8;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      top: calc(50% - 30px);
      width: 30px;
      height: 30px;
      margin: 0;

      &.owl-next {
        right: -15px;
        position: absolute;

        &.disabled {
          display: none;
        }
      }

      &.owl-prev {
        left: -15px;
        position: absolute;

        &.disabled {
          display: none;
        }
      }

      span {
        width: 32px;
        height: 32px;
        display: block;
        font-size: 20px;
      }
    }
  }

  .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;

    .owl-dot {
      width: 12px;
      height: 12px;
      background-color: #888;
      border-radius: 100%;

      &.active {
        background-color: $primary-color;
      }
    }

    span {
      display: none;
    }
  }

  .guiding-list-item .carousel.slide {
    .carousel-item {
      position: relative;
      width: 100%;
      padding-bottom: 66.67% !important;
      /* 4 / 6 = 0.6667 or 66.67% */
      overflow: hidden;
      height: auto;
    }

    .carousel-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  div#faq {
    .accordion-header {
      button {
        font-size: 18px;

        &:not(.collapsed) {
          color: $primary-color;
          background-color: #e8e8e8;
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
        }

        &:focus {
          border-color: unset;
          box-shadow: none;
        }
      }
    }

    .accordion-body {
      font-size: 16px;
    }
  }
}

#guidings-page {
  .title-container {
    display: flex;
    margin-bottom: 16px;

    .title-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .title-left-container{
      width: calc(100% - 200px);
    }

    .guiding-title {
      a {
        display: none;
      }
    }

    .location-row {
      display: flex;
      gap: 8px;
    }
  }

  .tour-details-two__book-tours {
    .btn.btn-danger {
      background-color: $primary-color;
    }

    .text-danger {
      color: $primary-color;
    }
  }

  #guiding-tab {
    .nav-link {
      font-size: 18px;
      padding: 10px 12px;
      flex-grow: 1;
      background-color: #faf5ee;

      &.active,
      &:hover {
        color: $primary-color;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  .tabs-container {
    border: 1px solid #dee2e6;
  }

  #guidings-tabs,
  #guidings-accordion {
    min-height: 300px;
    padding: 16px;
    font-size: 16px;

    .table th {
      text-align: left;
      width: 30%;
      font-size: 16px;
      color: #787780;
      font-weight: 400;
    }

    .table td {
      width: 70%;
      font-size: 16px;
      color: #787780;
    }
  }

  .important-info {
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;

    .info-item {
      display: flex;
      align-items: center;
      gap: 8px;
      width: auto;
    }

    i {
      color: $primary-color;
      fill: $primary-color;
    }
  }

  .description-container {
    .description-item-row {
      .description-item {
        flex: 1;
      }
    }

    .description-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 8px;

      .header-container {}

      span {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 500;
      }

      svg {
        width: 16px;
        height: 16px;
        color: $primary-color;

      }

      p {
        padding: 0 16px;
      }
    }
  }

  .title-right-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
  }

  .title-right-buttons {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
  }

  .guidings-rating {
    .ratings-head {
      // display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 32px;
    }

    .ratings-score-ave {
      display: flex;
      gap: 8px;
      align-items: center;

      span {
        font-size: 32px;
        font-weight: 700;
      }

      svg {
        width: 16px;
        height: 16px;
        fill: #ffcc00;
        color: #ffcc00;
      }

      .ratings-card {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }

    .owl-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: 16px;

      .owl-dot {
        width: 12px;
        height: 12px;
        background-color: #888;
        border-radius: 100%;

        &.active {
          background-color: $primary-color;
        }
      }
    }
  }

  .ratings-item {
    .ratings-comment-top {
      display: flex;
      flex-direction: column;
      gap: 4px;

      p {
        margin-bottom: 0;
        line-height: 1;
        color: #adaaaa;

        &.user {
          font-weight: 600;
          color: var(--thm-black);
        }

        &.date {
          font-size: 14px;
          color: #adaaaa;
        }
      }
    }

    .user-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .ratings-comment {
      padding: 16px;
      border: 1px solid #ece8e0;

      svg {
        width: 14px;
        height: 14px;
        fill: #ffcc00;
        color: #ffcc00;
      }
    }

    .comment-content {
      margin-top: 16px;

      p {
        font-size: 16px;
      }

      small {
        font-size: 14px;
      }
    }
  }

  div#lite-datepicker {
    width: 100%;

    .litepicker,
    .litepicker .container__days,
    .litepicker .container__months {
      width: 100%;
    }

    .container__months.columns-2 {
      width: 100% !important;

      .month-item {
        width: 48% !important;

        .container__days {

          .day-item,
          div {
            width: calc(100% / 7) !important;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .day-item {

            &.is-locked,
            &.is-today {
              text-decoration-line: line-through;

              &:hover {
                border: 1px solid $primary-color;
              }
            }

            &:hover {
              border-radius: 50px;
              box-shadow: none;
              border: 1px solid #000;
            }
          }
        }

        .month-item-weekdays-row {
          width: 100%;
        }
      }
    }
  }

  .guiding-list-item {
    display: none;
    /* Hide all items by default */
  }

  .guiding-list-item.show {
    display: flex;
    /* Only show items with this class */
  }

  #guidings-accordion {
    display: none;
  }

  .tour-details-two__overview-bottom-list {
    li {
      align-items: flex-start;

      .icon-small {
        margin-top: 4px;
      }
    }
  }

  .tour-details-two {
    a {
      &.btn-outline-secondary {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
      }
    }
  }

  .popular-tours__carousel {
    .owl-dots.disabled {
      display: none !important;
    }
  }
  .tour-details-two__related-tours {
    position: relative;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    .popular-tours__content{
      padding: 16px;
      min-height: 180px;
    }
    a.popular-tours__img{
      .popular-tours__img__wrapper{
        position: relative;
        width: 100%;
        padding-bottom: 66.67% !important; /* 4 / 6 = 0.6667 or 66.67% */
        overflow: hidden;
        height: auto;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
      }
      
    }
  }
  .guiding-item-desc {
    a{
      gap: 16px;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    // .inclusions-price{
    //   margin: 0;
    // }
    .guidings-icon-container{
      font-size: 16px;
    }
    .inclusions-list{
      gap: 16px;
      .inclusion-item{
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
  .rating-overview {
    // background-color: #faf5ee;
    border-radius: var(--thm-border-radius);
    padding: 30px;
}

.score {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0.25rem;
}

.rating-label {
    color: #313041;
    font-weight: 500;
}

.rating-categories {
    width: 100%;
    max-width: calc(100% - 300px);
}

.category-label {
    min-width: 150px;
    color: #6c757d;
    font-weight: bold;
    text-align: left;
}

.progress {
    background-color: #E9ECEF;
    border-radius: 4px;
    height: 8px;
}

.progress-bar {
    background-color: $primary-color;
    border-radius: 4px;
}

.rating-value {
    min-width: 32px;
    font-weight: bold;
    color: #6c757d;
}

.rating-info {
    /* max-width: 800px; */
    margin: 16px 0 auto;
    text-align: left;
    p{
      text-align: left;
    }
}
.rating-left {
  color: #fff;
}
.ratings-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .ratings-wrapper{
    flex-direction: column;
  }
    .rating-categories {
        width: 100%;
        padding: 0 1rem;
        max-width: 100%;
    }
    
    .rating-info {
        text-align: left;
        p{
          text-align: left;
        }
    }
    
    .rating-left {
        text-align: center !important;
        margin-bottom: 2rem;
    }
    .category-label{
      min-width: 114px;
      text-align: left;
    }
}

.score-wrapper {
  text-align: center;
  background-color: #313041;
  padding: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score-label {
    font-size: 0.875rem;
    font-weight: 400;
}

.rating-badge {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    color: #fff;
    border-radius: 16px;
    font-weight: bold;
    margin-bottom: 0.25rem;
    background-color: #3130419e;
}

.rating-count {
    font-size: 0.875rem;
    color: #313041;
}
}

.guidings-gallery {
  min-height: 400px;
  gap: 16px;
  margin-bottom: 16px !important;

  .left-image {
    width: 600px;
    padding: 0 !important;
    height: 400px;
    cursor: pointer;

    &:hover {
      filter: contrast(0.5);
    }

    img {
      width: 100%;
      object-fit: cover;
      max-height: 400px;
      height: 100%;
    }
  }

  .right-images {
    width: calc(100% - 616px);
    padding: 0 !important;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      max-height: 165px;
      aspect-ratio: 6/4;
      min-height: 100%;
    }
  }

  .col-7,
  .col-5 {
    flex: 1;
  }

  .gallery-mobile {
    display: none;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    height: 100%;
  }

  .gallery-item {
    width: calc((100% - 50%) - 8px);
    padding: 0;
    flex-shrink: 1;
    position: relative;
    cursor: pointer;

    &:hover {
      filter: contrast(0.5);
    }

    span {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #00000082;
      color: #fff;
      cursor: pointer;
    }
  }
}

div#masonry-grid {
  .col-12 {
    text-align: center;
  }

  img {
    width: 600px;
    height: 400px;
  }
}

.guidings-description-container {
  display: flex;
  gap: 24px;

  .guidings-descriptions {
    width: calc(65% - 8px);
  }

  .guidings-book {
    width: calc(35% - 8px);

    .card-body {
      padding-top: 0;
    }

    // .book-btn{
    //   background-color: $primary-color;
    //   color: #fff;
    // }
  }
}

.guidings-icon-container {
  font-size: 18px;

  span {
    font-size: 24px;

  }

  img {
    width: 24px;
    height: 24px;
  }
}

.tours-list__right {
  .carousel-item {
    img {
      width: 100% !important;
    }
  }

  .guiding-list-item {
    &:hover {
      box-shadow: 0 0 4px 0px #00000073;
    }
  }

  .guidings-item {
    display: flex;
    align-items: flex-start;
  }

  .guidings-item-title {
    width: calc(100% - 200px);
    color: $font-color;

    h5 {
      color: $font-color;
    }
  }

  .guiding-item-desc {
    a {
      display: flex;
      flex-direction: column;
      height: 100%;
      // gap: 8px;
    }
  }

  .guidings-item-ratings {
    width: 200px;
    display: flex;
    justify-content: flex-end;

    .ratings-score {
      display: flex;
      align-items: center;
      gap: 4px;

      svg {
        width: 18px;
        height: 18px;
        fill: #ffcc00;
        color: #ffcc00;
      }
    }

    .comment-content p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* Limit to 3 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      position: relative;
    }

    .see-more,
    .show-less {
      cursor: pointer;
      color: blue;
      margin-top: 5px;
    }

    .show-less {
      display: none;
      /* Initially hidden */
    }
  }

  .guidings-item-icon {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }

  .guidings-icon-container {
    font-size: 15px;
    display: flex;
    gap: 4px;
    width: calc(50% - 4px);
    color: $font-color;
  }

  .inclusions-price {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    justify-content: space-between;
    margin-top: auto;
    .guiding-item-price {
      span {
        color: $primary-color;
      }
    }
  }

  .guidings-included {
    color: $font-color;

    .inclusions-list {
      display: flex;
    }
  }

  a:has(.guidings-item) {
    &:hover {
      color: inherit;
    }
  }
}

.guidings-book-mobile {
  display: none;
}
.filter-sort-container{
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
  .active-filters{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
  }
}
@media screen and (max-width: 1200px) {
  #guidings-page {
    .important-info {
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}

@media screen and (max-width: 980px) {
  #guidings-page {
    .title-right-buttons {
      display: none;
    }

    .title-wrapper>* {
      padding: 0 !important;

      .guiding-title {
        display: flex;
        justify-content: space-between;

        a {
          display: block;

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .guidings-description-container {
      display: flex;
      flex-direction: column;

      .guidings-descriptions {
        width: 100%;
      }

      .description-item {
        span {
          font-size: 18px;
        }
      }
    }

    .guidings-gallery {
      .right-images {
        width: 100%;
      }
    }

    .title-container {
      .title-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 16px;
      }
      .title-left-container{
        width: calc(100%);
      }
      .title-right-container {
        display: none;

      }
    }

    #guidings-tabs,
    #guiding-tab {
      display: none;
    }

    #guidings-accordion {
      display: block;
      padding: 0;

      .accordion-button {
        font-size: 19px;
        font-weight: bold;
        color: $font-color;

        background-color: #faf5ee;

        &:focus {
          box-shadow: none;
        }
      }

      .table {
        color: #787780;

        th {
          font-weight: 500;
        }

        td {}
      }
    }

    .gallery-mobile {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      height: 100%;
    }

    .gallery {
      display: none;
    }

    .guidings-gallery .left-image {
      position: relative;
      width: 100%;
      padding-bottom: 66.67% !important;
      /* 4 / 6 = 0.6667 or 66.67% */
      overflow: hidden;
      height: auto;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }

    .right-images {
      img {
        max-height: 200px;
      }
    }

    //   .gallery-item {
    //     position: relative;
    //     padding-bottom: 66.67% !important;
    //     overflow: hidden;
    //     height: auto;
    //     img {
    //       position: absolute;
    //       top: 0;
    //       left: 0;
    //       width: 100%;
    //       height: 100%;
    //       -o-object-fit: cover;
    //       object-fit: cover;
    //     }
    // }

    #showMoreBtn.btn-orange {
      display: none;
    }

    .tour-details-two {
      .owl-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
          background-color: #e8e8e8;
          color: #333;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;

          &.owl-next {
            right: -15px;
            position: absolute;

            &.disabled {
              display: none;
            }
          }

          &.owl-prev {
            left: -15px;
            position: absolute;

            &.disabled {
              display: none;
            }
          }

          span {
            width: 32px;
            height: 32px;
            display: block;
            font-size: 20px;
          }
        }
      }

      .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 16px;
        bottom: 0;

        .owl-dot {
          width: 12px;
          height: 12px;
          background-color: #888;
          border-radius: 100%;

          &.active {
            background-color: $primary-color;
          }
        }
      }
    }
  }

  #galleryModal {
    #masonry-grid {
      padding: 4px;

      div {
        position: relative;
        width: 100%;
        padding-bottom: 66.67% !important;
        /* 4 / 6 = 0.6667 or 66.67% */
        overflow: hidden;
        height: auto;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
    }
  }

  #lite-datepicker {
    .container__months {
      .month-item {
        width: 100%;

        .month-item-weekdays-row {
          width: 100%;

          div {
            font-size: 90%;
          }
        }
      }
    }

    .container__days {

      .day-item,
      div {
        width: calc(100% / 7) !important;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.is-end-date,
        &.is-end-date {
          background-color: transparent;
          color: inherit;
        }
      }
    }
  }

  .guiding-list-item {
    .carousel-item {
      position: relative;
      width: 100%;
      padding-bottom: 66.67% !important;
      /* 4 / 6 = 0.6667 or 66.67% */
      overflow: hidden;
      height: auto;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100% !important;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }

  .guidings-book-mobile {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    display: block;

    .tour-details-two__book-tours {
      padding: 0;
    }

    .booking-form-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      // gap: 16px;

      .booking-select {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }

      .booking-price {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        font-weight: 600;
        font-size: 18px;
        min-width: 150px;

        #priceDisplay {
          text-decoration: underline 2px $primary-color !important;
        }
      }
    }

    .booking-price-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  
   .guiding-item-desc{
     a{
      gap: 8px;
     }
     .guidings-item-title{
       margin-bottom: 0;
     }
   } 
  .tours-list__right {
    .guidings-item {
      flex-direction: column;
      gap: 8px;

      .guidings-item-ratings {
        width: auto;
      }
    }

    .guidings-item-title {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;

      h5 {
        overflow: unset;
        text-overflow: unset;
        word-wrap: break-word;
        white-space: unset
      }
    }

    .guidings-item-icon {
      margin-top: 0 !important;
      gap: 4px;
    }

    .guidings-icon-container {
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 4px;
      width: calc(50% - 4px);

      img {
        width: 20px;
        height: 20px;
      }
    }

    .guidings-included {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .inclusions-list {
      flex-wrap: wrap;

      .inclusion-item {
        display: flex;
        gap: 4px;
        width: calc((100% - 50%) - 4px);
        align-items: center;
        color: $font-color;

        i.fa.fa-check {
          font-size: 12px;
        }
      }
    }

    .inclusions-price {
      flex-direction: column;
      align-items: normal;
    }
  }
}

@media screen and (max-width: 480px) {
  #guidings-page {
    .title-container {
      .location-row {
        flex-direction: column;
        gap: 0px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .tour-details-two__sticky {
    top: 117px;
    z-index: 0;
  }

  .about-one__img img {
    height: 500px;
  }
}

.tour-details-two__about {
  background: $card;
  border-radius: var(--thm-border-radius);
  padding: 30px;
}

.js-trigger-more-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  &.expand-text {
    overflow: visible;
    text-overflow: unset;
    display: block;
  }
}