@import "../settings/variables";

.vacations-single {
    .description-container {
        .description-item-row {
            .description-item {
                flex: 1;
            }
        }

        .description-item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 8px;

            .header-container {}

            span {
                display: flex;
                align-items: center;
                gap: 4px;
                font-weight: 500;
            }

            span.text-wrapper {
                display: block !important;
                align-items: center;
                gap: 4px;

                p {
                    font-weight: 400;
                    margin: 0;
                }

                small {
                    display: block;
                    padding: 0 16px;
                    text-align: right;
                    width: 100%;
                }
            }

            svg {
                width: 16px;
                height: 16px;
                color: $primary-color;

            }

            p {
                padding: 0 16px;
            }
        }
    }
    .tab-item{
        span.text-wrapper {
            display: block !important;
            align-items: center;
            gap: 4px;

            p {
                font-weight: 400;
                margin: 0;
            }

            small {
                display: block;
                padding: 0 16px;
                text-align: right;
                width: 100%;
            }
        }
        .details-row{
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }
    #guidings-tabs,
  #guidings-accordion {
    min-height: 300px;
    padding: 16px;
    font-size: 16px;

    .table th {
      text-align: left;
      width: 150px !important;
      font-size: 16px;
      color: #787780;
      font-weight: 400;
    }

    .table td {
      width: 70%;
      font-size: 16px;
      color: #787780;
    }
    // tab-card {
    //     box-shadow: ;
    // }
  }
  .inclusions{
    .header-container{
        span{
            color: $font-color;
        }
    }
    .table th {
        text-align: left;
        width: 150px !important;
        font-size: 16px;
        color: #787780;
        font-weight: 400;
      }
  
      .table td {
        width: 70%;
        font-size: 16px;
        color: #787780;
      }
  }
}
.vacations-book-mobile{
  display: none;
}


@media (max-width: 992px) {
  .vacations-book-mobile {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    display: block;
    background-color:#faf5ee;
    padding: 16px;
    display: flex;
    justify-content: center;
    .tour-details-two__book-tours {
      padding: 0;
    }
  
    .booking-form-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 16px;
  
      .booking-select {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }
  
      .booking-price {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        font-weight: 600;
        font-size: 18px;
        min-width: 150px;
  
        #priceDisplay {
          text-decoration: underline 2px $primary-color !important;
        }
      }
    }
  
    .booking-price-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      width: 100%;
    }
  }
}